body {
    background-color: #EEE;
}

#main {
    margin-top: 90px !important;
}

#footer {
    line-height: 30px;
}

.principal {
    display: block;
    min-height: 20px;
    padding: 19px;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

button span {
    padding-left: 8px;
}

a i span {
    padding-left: 8px;
}

a i span:hover {
    padding-left: 8px;
    text-decoration: underline;
}

a span {
    cursor: pointer;
}

fieldset legend {
    margin-top: 8px;
}

#menu {
    background-color: #008CBA;
    border-color: #e7e7e7;
}

#menu .navbar-nav>li>a,
#menu .navbar-brand {
    color: #FFF;
}

#menu .navbar-nav>li>a:hover,
#menu .navbar-brand:hover {
    color: #eee;
}

#menu ul.navbar-right {
    margin-right: 0px;
}

#menu ul.navbar-right i {
    /*color: #eee;*/
}

#submenu {
    top: 50px;
    min-height: 40px;
    border-bottom: 3px solid #DDD;
}

#submenu ol {
    padding-top: 8px;
    list-style: none;
}

#submenu ol li {
    display: inline-block;
}

#submenu ol li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.line-user {
    margin-left: 0px;
    margin-right: 0px;
}

.img-size {
    overflow: hidden;
    width: 35px;
    height: 35px;
}

.img-size img {
    width: 35px;
    height: 45px;
    margin-top: -5px;
    margin-left: -4px;
}

.img-size-list {
    overflow: hidden;
    width: 75px;
    height: 75px;
}

.img-size-list img {
    width: 75px;
    height: 90px;
    margin-top: -8px;
    margin-left: -5px;
}

.user-image-size {
    max-height: 250px;
}

.list-group-item {
    margin: 2px;
    border-left: 5px solid #008CBA;
}

.list-group-item-link {
    cursor: pointer;
}

.list-group-item-heading strong,
.title-file strong {
    color: #008CBA;
}

.list-group-item-heading {
    margin-top: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.list-item-text:first-child {
    margin-top: 10px;
}

.list-item-text {
    margin: 3px 0;
}

.list-item-text strong {
    color: #999;
}

.vertical-text-center {
    vertical-align: middle !important;
}

.vertical-align {
    height: 100%;
}

.row-70 {
    height: 70px;
}

.row-50 {
    height: 50px;
}

.row-50 .vertical-align {
    line-height: 50px;
}

.img-system {
    max-width: 70%;
}

.icon-sidebar {
    margin-right: 10px;
}

.btn-icon-20 {
    font-size: 20px;
}

div.text-center button {
    margin: 4px 4px 0 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.tab-content {
    padding: 20px;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.file-upload {
    display: none !important;
}

.add {
    cursor: pointer;
}

.icon {
    padding: 8px;
    margin-right: 5px;
}

.icon-radius {
    border-radius: 100%;
}

.icon.silver {
    background-color: #e7e7e7;
    color: black;
}

.icon.blue {
    background-color: #6699FF;
    color: white;
}

.icon.green {
    background-color: #43ac6a;
    color: white;
}

.icon.blue-ligth {
    background-color: #5bc0de;
    color: white;
}

.icon.yellow {
    background-color: #e99002;
    color: white;
}

.icon.red {
    background-color: #f04124;
    color: white;
}

.form-control-text {
  display: block;
  width: 100%;
  height: 39px;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.0;
  color: #6f6f6f;
  background-image: none;
}

.border-system {
    border-left: 1px solid #ccc;
}

.width-margin {    
    margin-right: 0;
    margin-left: 0;
}

.transparency {
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
}

.normal {    
    opacity:1.00;
    -moz-opacity: 1.00;
    filter: alpha(opacity=100);
}

.tab-pane {
    height: 320px;
    margin-bottom: 0px;
}

.btn-full {
    width: 100%;
    margin: 10px 0;
}

.rem-image {
    font-size: 10pt;
}

.height-full {
    height: 100%;
}

.list-group-overflow {
    height: 100%;
    overflow-y: auto;   
    overflow-x: hidden;    
}

.systemChoose {
    height: 220px;
}

.horizontal-line {
    margin: 20px 0; 
    border-bottom: 1px solid #e5e5e5;
}

p.help-block {
    margin-bottom: -5px !important;
}

button.close {
    color: #000;
}

.block-info {
    margin: 0 50px 20px 50px; 
    padding: 10px;
    border: 1px solid #e5e5e5;
}

@media (min-width: 992px) {

    .line-user .col-md-2 {
        width: 12.66666667%;
    }
    .line-user .col-md-10 {
        width: 87.33333333%;
    }

}