<div class="col-md-12 col-md-12">
    <div class="bs-component">
        <form class="form-horizontal" role="form" class="form" name="form" ng-submit="createUser(form)" novalidate>
            <fieldset>
                <legend>Usuários - Cadastro</legend>
                <ul class="nav nav-tabs" id="myTab">
                    <li><a href="#tabcadastro" data-toggle="tab">Cadastro</a></li>
                    <li><a href="#tabsistemas" data-toggle="tab">Sistemas</a></li>
                </ul>
                <div class="tab-content">

                    <div class="well tab-pane fade" id="tabcadastro">

                        <div class="row height-full">

                            <div class="col-lg-3">
                                <!-- Ajustar os parametros para validar o tamanho da imagem e verificar se model ainda é utilizado -->
                                <dropzone file="image" file-name="imageFileName" model="user.image"></dropzone> 
                            </div>

                            <div class="col-lg-9">

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="provider">Provider: </label>
                                    <div class="col-md-3">
                                        <select class="form-control" name="provider" id="provider" ng-model="user.provider" required>
                                            <option value="{{provider.code}}" ng-repeat="provider in providers track by $index">{{provider.descricao}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="name">Nome: </label>
                                    <div class="col-md-6">
                                        <input type="text" name="name" id="name" class="form-control" ng-model="user.name" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="email">Email: </label>
                                    <div class="col-md-5">
                                        <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="password">Password: </label>
                                    <div class="col-md-4">
                                        <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="well tab-pane fade" id="tabsistemas">

                        <div class="row height-full">

                            <div class="col-md-4 systemChoose">

                                <div class="row">
                                    <div class="form-actions text-right col-md-12">
                                        <button type="button" class="btn btn-primary btn-full" 
                                                ng-click="getSystem(null)">
                                            <i class="glyphicon glyphicon-plus"></i> Adicionar Sistema
                                        </button>
                                    </div>
                                </div>

                                <div class="list-group list-group-overflow">
                                    <div class="list-group-item list-group-item-link center-block"  
                                         ng-click="getSystem(system)" 
                                         ng-repeat="system in user.systems track by $index">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <i class="fa fa-{{system.icon.image}} icon icon-radius" ng-class="system.icon.color"></i> 
                                                {{system.name}}
                                            </div>
                                            <div class="col-md-2 text-right normal">
                                                <i ng-class="{ 'fa fa-chevron-right': systemSelection == system,
                                                               'fa fa-link': systemSelection != system }" 
                                                   class="icon"></i>
                                            </div>
                                        </div>
                                    </div>    
                                </div>  

                            </div> 

                            <div class="col-md-8 border-system height-full">

                                <div class="systemChoose" ng-show="!systemSelection">

                                    <div class="row">
                                        <div class="choose col-md-12 text-center">
                                            <legend>Escolha um sistema para cadastrar!</legend>
                                        </div>
                                    </div>

                                    <div class="list-group list-group-overflow"> 
                                        <div ng-repeat="system in systems track by $index">
                                            <div class="list-group-item" ng-show="system.show">
                                                <div class="row row-50">
                                                    <div class="col-md-2">
                                                        <img ng-src="image/systems/{{ system.image }}" class="center-block img-thumbnail" />
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h4 class="list-group-item-heading">
                                                            <strong>{{ system.name }}</strong>
                                                        </h4>
                                                        <p class="list-group-item-text text-justify">{{ system.description }}</p>
                                                    </div>
                                                    <div class="col-md-2 vertical-align text-center">
                                                        <button class="btn btn-primary" ng-click="addSystem(system)">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="width-margin" ng-show="systemSelection">

                                    <div class="row row-70">

                                        <div class="col-md-3">
                                            <img ng-src="image/systems/{{ systemSelection.image }}" class="center-block img-thumbnail img-system" />
                                        </div>
                                    
                                        <div class="col-md-9">
                                            <h4 class="list-group-item-heading">
                                                <strong>{{ systemSelection.name }}</strong>
                                            </h4>
                                            <p class="list-group-item-text text-justify">
                                                {{ systemSelection.description }}
                                            </p>
                                        </div>                                          

                                    </div>     

                                    <div class="horizontal-line"></div>                               

                                    <div class="row">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="role">Role: </label>
                                            <div class="col-md-6">
                                                <select class="form-control" name="role" id="role" ng-model="systemSelection.role" required>
                                                    <option value="{{role.code}}" ng-repeat="role in roles track by $index">{{role.descricao}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Período: </label>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <periodo periodos="systemSelection.periodos" date-initial="systemSelection.dateInitial" date-final="systemSelection.dateFinal" selection="systemSelection.periodo"></periodo>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">De: </label>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <date-range periodos="systemSelection.periodos" date-initial="systemSelection.dateInitial" date-final="systemSelection.dateFinal" divisor="até"></date-range>
                                                </div>
                                            </div>
                                        </div>  

                                    </div>

                                </div> 

                            </div>  

                        </div>   
                        
                    </div>
                    <div class="form-actions text-right">
                        <button type="button" class="btn btn-danger" app-href="/user">
                            <i class="glyphicon glyphicon-chevron-left"></i> Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-ok"></i> Create
                        </button>
                    </div>
                </div>
    </div>
    </fieldset>
    </form>
</div>
</div>
<script>
$('#myTab a:first').tab('show')
$('#myTab a').click(function(e) {
    e.preventDefault()
    $(this).tab('show')
});

// $('#user-image').click(function() {
//     $('#user').click();
// });
// $('#user').change(function(event) {    
//     console.log(event.target.files[0]);
// });
</script>
