<div class="col-md-12 col-md-12">
    
    <message success="msg.success" error="msg.error" dismiss="false" />

    <div class="bs-component">

        <form class="form-horizontal" role="form" class="form" name="form" ng-submit="createUser(form)" novalidate>
            <fieldset>
                <legend translate>TITLE.USER.CREATE</legend>
                <ul class="nav nav-tabs" id="myTab">
                    <li><a href="#tabcadastro" data-toggle="tab" ng-click="showTab($event)">{{'NAV.CREATE' | translate}}</a></li>
                    <li><a href="#tabsistemas" data-toggle="tab" ng-click="showTab($event)">{{'NAV.SYSTEMS' | translate}}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="well tab-pane fade" id="tabcadastro" ng-controller="UserFormUserCtrl">
                        <div ng-include src="'view/user/user-form-user.html'"></div>
                    </div
                    <div class="well tab-pane fade" id="tabsistemas" ng-controller="UserFormSystemCtrl">
                        
                    </div>
                    <div class="form-actions text-right">
                        <button type="button" class="btn btn-danger" app-href="/user">
                            <i class="glyphicon glyphicon-chevron-left"></i> {{'BUTTON.CANCEL' | translate}}
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-ok"></i> {{'BUTTON.SAVE' | translate}}
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
