<div class="col-md-12 col-md-12">
<!-- 
    - Fazer a troca das msgs pelo translate
    - Fazer as validações dos campos
    - Criar a limpeza do formulario
    - Retirar as directivas de form
    - Criar o translate dos campos das lista dos js contant
    - Fazer o ajuste para salvar os systema do usuário pelo mock
    - Colocar os valores default no node
    - Colocar a image default do usuário quando não for escolhido foto
    - Fazer o acrescimo dos campos do sistema no node
    - Quebrar o controller conforme as funções ???
-->
    <message success="msg.success" error="msg.error" dismiss="false" />

    <div class="bs-component">

        <form class="form-horizontal" role="form" class="form" name="form" ng-submit="createUser(form)" novalidate>
            <fieldset>
                <legend translate>TITLE.USER.CREATE</legend>
                <ul class="nav nav-tabs" id="myTab">
                    <li><a href="#tabcadastro" data-toggle="tab" ng-click="showTab($event)">{{'NAV.CREATE' | translate}}</a></li>
                    <li><a href="#tabsistemas" data-toggle="tab" ng-click="showTab($event)">{{'NAV.SYSTEMS' | translate}}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="well tab-pane fade" id="tabcadastro">
                        <div ng-include src="'view/user/user-form-user.html'"></div>
                    </div>
                    <div class="well tab-pane fade" id="tabsistemas">
                        <div ng-include src="'view/user/user-form-system.html'"></div>                        
                    </div>
                    <div class="form-actions text-right">
                        <button type="button" class="btn btn-danger" app-href="/user">
                            <i class="glyphicon glyphicon-chevron-left"></i> {{'BUTTON.CANCEL' | translate}}
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-ok"></i> {{'BUTTON.SAVE' | translate}}
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
