<div class="col-md-12 col-md-12 principal">

    <message success="msg.success" error="msg.error" dismiss="false" />

    <div class="">
            
        <fieldset>

            <div class="row">

                <div class="col-md-9">
                    <legend translate><span translate="TITLE.USER"/></legend>
                </div>    

                <div class="col-md-3">
                    <div class="form-actions text-right">
                        <button class="btn btn-danger" ui-sref="users">
                            <i class="fa fa-chevron-circle-left"></i><span translate="BUTTON.CANCEL"/>
                        </button>
                        <button class="btn btn-primary" ui-sref="userEdit({idUser: user.id})">
                            <i class="fa fa-pencil-square-o"></i><span translate="BUTTON.EDIT"/>
                        </button>
                    </div>
                </div>

            </div>

            <div>

                <div class="row height-full">

                    <div class="col-lg-3">
                        <img check-image ng-src="{{user.image.full}}" class="center-block img-thumbnail user-image-size">
                    </div>

                    <div class="col-lg-5">

                        <div class="row">

                            <div class="col-md-3">

                                <p class="list-item-text text-right"><strong><span translate="LABEL.NAME"/>:</strong></p>
                                <p class="list-item-text text-right"><strong><span translate="LABEL.USERNAME"/>:</strong></p>
                                <p class="list-item-text text-right"><strong><span translate="LABEL.GENDER"/>:</strong></p>
                                <p class="list-item-text text-right"><strong><span translate="LABEL.EMAIL"/>:</strong></p>

                            </div>    

                            <div class="col-md-9">

                                <p class="list-item-text"><i>{{user.fullname}}</i></p>
                                <p class="list-item-text"><i>{{user.username}}</i></p>
                                <p class="list-item-text"><i>{{user.gender}}</i></p>
                                <p class="list-item-text"><i>{{user.email}}</i></p>

                            </div>    

                        </div>

                    </div>

                    <div class="col-lg-4">                        

                        <div class="list-group list-group-overflow">
                            <div class="list-group-item list-group-item-link center-block" ui-sref="userSystemEdit({idUser: user.id, idSystem: system.idSystem})" ng-repeat="system in user.systems track by $index">
                                <div class="row">
                                    <div class="col-md-10">
                                        <i class="fa fa-{{system.icon.image}} icon icon-radius" ng-class="system.icon.color"></i> {{system.name}}
                                    </div>
                                    <div class="col-md-2 text-right normal">
                                        <i class="fa fa-pencil-square-o icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </fieldset>
    
    </div>

</div>
